.result {
    text-align: center;
    font-size: 7em;
    outline: none;
    animation: showup 500ms ease forwards;

    @keyframes showup {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes showup-infinity {
        0% {opacity: 0;}
        100% {
            opacity: 1;
            transform: translate(0px, -70vh);
        }
    }
}