$bg-color: #eee;
$main-color: #444;
$sub-color: #b2b2b2;
$error-color: #d70000;


#App {
  box-sizing: border-box;
  background-color: $bg-color;
  height: 100vh;
  display: grid;
  grid-template-columns: auto minmax(0,1000px) auto;

  .centerContent {
    display: grid;
    grid-template-rows: auto 0.9fr auto;
    padding: 2rem;

    .middleContainer {
      display: grid;
      grid-template-rows: 1fr auto 1fr;

      .typingTest {
        display: grid;
        grid-template-rows: 1fr auto 1fr;

        .stats {
          div {
            font-size: 1.5rem;
            display: inline-block;
            margin: 0.25em;
          }
        }

        .wordInput {
          z-index: -1;
        }

        .wordContainer {
          background-color: $bg-color;
          height: 117.562px;
          font-size: 1.5rem;
          position: relative;
          
          .caret {
            width: 0.1em;
            height: 1em;
            position: absolute;
            top: 3.6px;
            left: 5px;
            background-color: $main-color;
            display: block;
            border-radius: 0.5rem;

            @keyframes flashSmooth {
              0% {opacity: 1;}
              50% {opacity: 0;}
              100% {opacity: 1;}
            }

            animation: flashSmooth ease infinite 1s;
          }

          .word {
            display: inline-block;
            margin: 0.25em;
            margin-top: 0;
            color: $sub-color;
            border-bottom: 2px solid transparent;

            &.error {
              border-bottom: $error-color 2px solid;
            }

            .letter {
              line-height: 1em;
              font-size: 1em;
              font-variant: no-common-ligatures;
              display: inline-block;
              
              &.correct {
                color: $main-color;
              }

              &.error {
                color: $error-color;
              }
            }
          }
        }
      }
    }
  }
}