$bg-color: #eee;
$main-color: #444;
$sub-color: #b2b2b2;


#App {
  background-color: $bg-color;
  height: 100vh;
  display: grid;
  grid-template-columns: auto minmax(0,1000px) auto;

  .typingTest {
    display: grid;
    grid-template-rows: 1fr auto 1fr;

    .wordInput {
      z-index: -1;
    }

    .wordContainer {
      background-color: $bg-color;
      height: 117.562px;
      font-size: 1.5rem;
      
      .word {
        display: inline-block;
        margin: 6px;
        color: $sub-color;

        .letter {
          display: inline-block;
          
          &.active, &.correct {
            color: $main-color;
          }
        }
      }
    }
  }
}